header {
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  top: 25px;
  right: 15px;
}

body {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}

#container {
  position: relative;
  top: 100px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
}

#div-lights-container {
  display: flex;
  flex-direction: column;
  top: 100px;
}

#redColor {
  background-color: white;
  position: absolute;
  top: 10px;
  left: 29px;
}
#yellowColor {
  background-color: white;
  position: absolute;
  top: 39px;
  left: 29px;
}
#greenColor {
  background-color: white;
  position: absolute;
  top: 68px;
  left: 29px;
}
