header {
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  top: 25px;
  right: 15px;
}

body {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}

#container {
  position: relative;
  top: 100px;
}

#redLight {
  position: absolute;
  top: 15px;
  left: 35px;
  color: red;
}
